.baseCard.-type-1 {
  position: relative;

  .baseCard {
    &__image {
    }
    
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      z-index: 1;
    }

    &__title {
    }
  }

  &.-padding-lg {
    .baseCard {
      &__content {
        padding: 60px;
      }
    }
  }
}
