.testimonialsPagination.-type-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -18px;
  
  @include media-below(md) {
    margin: -12px;
  }

  > * {
    padding: 18px;

    @include media-below(md) {
      padding: 12px;
    }
  }

  .testimonialsPagination {
    &__item {
      cursor: pointer;
      
      > * {
        position: relative;
      }
      
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        flex-shrink: 0;
      }

      &.is-active {
        > *::after {
          content: "";
          position: absolute;
          z-index: 1;
          top: -11px;
          bottom: -11px;
          right: -11px;
          left: -11px;
          border-radius: 100%;
          border: 2px solid var(--color-accent-1);
        }
      }
    }
  }

  &.-blue .testimonialsPagination__item.is-active {
    > *::after {
      border: 2px solid var(--color-accent-2);
    }
  }
}