.hero.-type-8 {
  position: relative;
  z-index: 1;

  .hero {
    &__slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      @include media-below(xl) {
        padding-top: 280px;
        padding-bottom: 240px;
      }

      @include media-below(sm) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      @include media-below(md) {
        padding-bottom: 120px;
      }
    }

    &__subtitle {
      text-transform: uppercase;
      margin-bottom: 50px;
      
      @include media-below(md) {
        margin-bottom: 20px;
      }
    }

    &__title {
      font-size: 92px;

      @include media-below(md) {
        font-size: 48px;
      }
      
      @include media-below(sm) {
        font-size: 36px;
      }
    }

    &__nav {
      padding: 0 60px;
      
      @include media-below(md) {
        top: unset;
        transform: unset;
        bottom: 60px;
        padding: 0 20px;
      }
    }

    &__filter {
      position: absolute;
      bottom: 60px;
      left: 50%;
      max-width: 100%;
      transform: translateX(-50%);
      z-index: 2;

      @include media-below(md) {
        bottom: 30px;
        width: calc(100% - 40px);
      }
    }
  }
}
