body.is-cursor-active {
  cursor: none !important;

  * {
    cursor: none !important;
  }
}


.cursor {
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: transform 0.1s $easeOutQuart;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    transition:
      transform 0.5s $easeOutQuart,
      opacity 0.5s $easeOutQuart;
  }

  &__follower {
    position: absolute;
    background-color: #888888;
    opacity: 0.25;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    transition:
      transform 0.3s $easeOutQuart,
      opacity 0.3s $easeOutQuart,
      background-color 0.1s $easeOutQuart;
  }

  &__arrows {
    position: absolute;
    display: flex;

    opacity: 0;
    transform: scale(0.7) rotate(40deg);

    transition:
      transform 0.5s $easeOutQuart,
      opacity 0.5s $easeOutQuart;

    > * {
      position: relative;
      color: black;
      stroke-width: 1;
    }

    > *:first-child {
      left: -10px;
    }

    > *:last-child {
      right: -10px;
    }
  }


  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0.05em;

    transform: scale(0);
    will-change: transform, opacity;

    transition:
      transform 0.5s $easeOutQuart,
      opacity 0.5s $easeOutQuart;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    transform: scale(0);
    will-change: transform, opacity;

    transition:
      transform 500ms $easeOutQuart,
      opacity 500ms $easeOutQuart;
  }

  &__icon svg {
    width: 48px;
    height: 48px;
    stroke-width: 0.75;
  }
}


.cursor {
  visibility: hidden;

  &.is-enabled {
    visibility: visible;
  }

  &.is-hidden {
    .cursor__wrapper {
      transform: scale(0) !important;
    }
  }

  &.is-mouse-down {
    .cursor__wrapper {
      transform: scale(0.8);
    } 
  }

  &.is-active {
    .cursor__follower {
      box-shadow: 0 0 8px 0 rgba(black, 0.7);
      transform: scale(3.6);
      opacity: 0.25;
    }
  }

  &.is-active.has-label {
    .cursor__follower {
      background-color: black;
      opacity: 0.8;
    }

    .cursor__label {
      transform: scale(1);
    }
  }

  &.is-active.has-icon {
    .cursor__follower {
      background-color: black;
      opacity: 0.8;
    }

    .cursor__icon {
      transform: scale(1);
    }
  }
}
