.roomCard.-type-4 {
  position: relative;

  .roomCard {
    &__content {
      position: absolute;
      bottom: 0;
      left: 50%;
      text-align: center;
      width: 450px;
      max-width: 100%;
      padding: 50px;
      transform: translateX(-50%);
    }
  }
}
